body{
    margin: 0;
}

.container{
    width: 90%;
    margin: auto;
}

/* formattazioni di testo */
.smallText{
    line-height: 1px;
    font-size: small;
}
.smallerText{
    line-height: 1px;
    font-size: x-small;
}

.textBlue{
    color: lightblue;
}
.textGray{
    color: gray;
}

/* info su header */
.top{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 300px;
    padding-top: 50px;
    padding-bottom: 10px;
}

#logo{
    width: 200px;
}
